<h1>Charts!</h1>

<div id='metrics'></div>

<div id='charts'></div>

<script type='text/javascript'>
  $(function() {
      window.router = new BackbonePoc.Routers.ChartsRouter({ chartData: [{ name: 'this chart', data: [{"time":1398281880000,"value":[5.8009565222,1.7772160638,0.50834869077,0.52449487498]},{"time":1398281940000,"value":[5.8219306519,1.7925305414,0.50167147553,0.52399502185]},{"time":1398282000000,"value":[5.9211941302,1.8011089952,0.51344236586,0.5246443374]},{"time":1398282060000,"value":[6.0566535999,1.8187513039,0.5450198197,0.52525502081]},{"time":1398282120000,"value":[5.9428882483,1.7953153033,0.49999722273,0.52499264024]},{"time":1398282180000,"value":[6.0291945034,1.799254358,0.52032328981,0.52567222778]},{"time":1398282240000,"value":[6.3414147967,1.8564090467,0.50648423908,0.52535605815]},{"time":1398282300000,"value":[6.1848659155,1.8358521787,0.50157329341,0.52626270585]},{"time":1398282360000,"value":[5.757000042,1.77556687,0.49999700148,0.52338544759]},{"time":1398282420000,"value":[5.9463659343,1.8100898634,0.51057871118,0.52505484227]},{"time":1398282480000,"value":[5.9454898843,1.8114011839,0.50110433784,0.52484760138]},{"time":1398282540000,"value":[5.828109966,1.8008798616,0.70466793844,0.52502488863]},{"time":1398282600000,"value":[5.8753723905,1.7648576046,0.50056034556,0.52364996142]},{"time":1398282660000,"value":[5.6874041464,1.7484415169,0.5,0.52427371929]},{"time":1398282720000,"value":[6.0221394907,1.8522430874,0.50112875757,0.52602366147]},{"time":1398282780000,"value":[6.0253600414,1.8105534263,0.50667237764,0.52447280151]},{"time":1398282840000,"value":[5.8459245555,1.7723734251,0.52434122618,0.52488220242]},{"time":1398282900000,"value":[5.807005545,1.8299993782,0.57121701137,0.52430235647]},{"time":1398282960000,"value":[5.8034495481,1.7744555487,0.50596807622,0.52441485725]},{"time":1398283020000,"value":[5.4875211796,1.7181160416,0.50400696066,0.52289691807]},{"time":1398283080000,"value":[5.8838936429,1.8084743202,0.5016761715,0.52462209188]},{"time":1398283140000,"value":[6.0576510828,1.8181315262,0.55851015729,0.52446633651]},{"time":1398283200000,"value":[5.7007704044,1.7151181034,0.51027927158,0.52380462892]},{"time":1398283260000,"value":[5.7114582159,1.7439381978,0.56315552047,0.52481109733]},{"time":1398283320000,"value":[6.0746737541,1.809985043,0.50166528588,0.52557423172]},{"time":1398283380000,"value":[5.9019498838,1.7792201648,0.50117986599,0.52365350382]},{"time":1398283440000,"value":[6.0034161473,1.8193368523,0.49999719528,0.52467871948]},{"time":1398283500000,"value":[5.8434491629,1.7767019482,0.50055399965,0.52449569328]},{"time":1398283560000,"value":[5.7558399772,1.7952163897,0.54705634504,0.52352680452]},{"time":1398283620000,"value":[5.9094892717,1.813477273,0.61416675061,0.52462420111]}] }] });
    Backbone.history.start();
  });
</script>

<script id='chart-template' type='text/x-handlebars-template'>
  <p>This is a chart! {{name}}</p>
  <svg class='chart'></svg>
</script>
