// Place all the styles related to the charts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

svg.chart {
  height: 45px;
  width: 300px;
  display: block;
}
